@import url('https://github.com/IMTEmil/ceremapp/blob/68388267d57b041475d0c5d145cb04f4a66ebe98/Marianne-Medium.otf');

html, body, [class*="css"] {
    font-family: 'Marianne', sans-serif; 
    font-size: 18px;
    font-weight: 500;
}
